@import "../styles/fonts";
@import "../styles/reset";

body {
  color: #0A0A5f;
  background-color: #EBE0DE;
}


#popup {
  min-width: 250px;
  padding: 10px 15px;
  border: 5px solid #6DCCA5;
  color: #0A0A5f;
  font-family: halcom, sans-serif;

  h2 {
    font-size: 21px;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 2rem;
    font-family: halcom, sans-serif;
    font-weight: 200;
    font-style: italic;
  }
}