.locately-wrapper {
  z-index: 999;
  border-radius: 5px;
  box-shadow: 0 6px 20px -4px rgba(0, 0, 0, 0.1),
    0 4px 12px -2px rgba(0, 0, 0, 0.08);
  width: 400px;
  background: #fafafa;
  color: #1c2229;

  .locately-visual-row {
    display: flex;

    .locately-map,
    .locately-img {
      flex: 1 0 auto;
      height: 150px;
    }
  }

  .locately-description {
    padding: 10px;
  }

  .locately-stats-row {
    display: flex;
    font-weight: 600;

    .locately-stat {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      padding: 10px;

      .locately-stat-label {
        opacity: 0.7;
        font-size: 12px;
      }

      .locately-stat-value {
        font-size: 24px;
      }
    }
  }
}

*[data-locately-city] {
  border-bottom: 3px ridge #1c2a88;
  cursor: context-menu;
}
